.subscribers {
  .product:nth-child(2) {
    margin-top: 20px;
  }
  .product {
    margin: 0px;
    .list {
      .datagrid {
        height: 500px;
      }
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson !important;
        border: 1px dotted rgba(220, 20, 60, 0.6) !important;
        cursor: pointer;
      }
    }
    .subscribe_box {
      .input_box {
        width: 100%;
        border: 1px solid var(--color-gray);
        border-radius: 10px;
        padding: 8px;
        margin-bottom: 10px;
      }
      .sendButton {
        margin-top: 10px;
        width: 40%;
        color: var(--color-white);
        background-color: var(--color-primary);
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
