.cart-items {
  margin-top: 4px;
  background-color: var(--color-background);
}
.cart-wrap {
  height: 100%;
}

.cart-items .cart-details {
  width: 70%;
  margin-top: 10px;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 20px;
}

// ======
.cart-items {
  .first-row {
    display: flex;
    align-items: center;
  }

  .first-row .small {
    width: 100px;
    border: 2px solid var(--color-light-gray);
    padding: 5px;
    height: 100px;
    object-fit: cover;
  }
  .first-row .name-gen {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .first-row .name-gen a {
    text-decoration: none;
    color: var(--color-black);
  }
  .first-row .name-gen .gen {
    color: var(--color-gray);
    position: relative;
    top: 3px;
    display: flex;
    align-items: center;
  }
  .first-row .name-gen .remove-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 12px;
    padding-bottom: 8px;
    width: 10px;
  }
  .first-row .name-gen .remove-item .close-reg {
    font-size: 12px;
    font-weight: 900;
    color: var(--color-primary);
    padding-right: 3px;
  }
  .first-row .name-gen .remove-item .remove-text {
    font-size: 13px;
    color: var(--color-light-gray);
  }

  .third-row button {
    width: 15px;
    font-size: 25px;
    border-radius: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;

    background-color: var(--color-light-light-gray);
    cursor: pointer;
  }
  .third-row .quantity {
    font-weight: 600;
    border: 1px solid var(--color-light-gray);
    border-radius: 15px;
    padding: 3px 15px;

    width: 10px;
    margin: 0px 3px;
  }

  .forth-row {
    font-weight: 800;
    font-size: 23px;
  }

  // ======
  .cart-total.product {
    height: 100%;
  }
  .cart-total {
    .d_flex {
      flex-wrap: wrap;
    }
    h4 {
      font-size: 15px;
      font-weight: 600;
      color: var(--color-gray);
    }
    h3 {
      font-weight: 600;
      color: var(--color-gray);
    }
    .price {
      color: var(--color-primary);
      font-size: 20px;
      font-weight: 600;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(3 0 71 / 9%);
      padding-bottom: 10px;
      color: var(--color-primary);
    }
    .checkout {
      button {
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        border-radius: 10px;
      }
    }
  }
}
.no-items {
  color: var(--color-primary);
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}
@media (max-width: 870px) {
  .cart-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .cart-items .cart-details {
    width: 100%;
  }
  .cart-items .cart-list,
  .no-items {
    margin: 0;
  }
  .cart-items .cart-total {
    width: 100%;
    margin-left: 0px;
    .checkout {
      button {
        width: 50%;
      }
    }
  }
}
@media (max-width: 500px) {
  .cart-items .cart-total {
    .checkout {
      button {
        width: 100%;
      }
    }
  }
}
