// styles for the showroom
.showroom {
  display: flex;
  justify-content: center;
  align-items: center;

  .form_box_content {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  ul {
    li {
      list-style: disc;
      line-height: 50px;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px solid #b4b4b4;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 8px 0px;
    margin-right: 8px;
  }

  .largeImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:disabled {
    background-color: #c3c3c3;
    cursor: not-allowed;
  }
  /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
  @media screen and (max-width: 500px) {
    .form_box_content {
      padding: 0px;
      box-shadow: none;
    }
  }
}
