.table {
  .cellWrapper {
    img {
      border-radius: 50%;
    }
  }
  .banner_list_img {
    border-radius: 5px;
  }
  .tableBtn {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 4px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
  }
  .deleteButton {
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
    background: transparent;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
    font-size: 12px;
  }
}
.filters {
  .cellWidthName:nth-child(2) {
    margin-left: 5px;
  }
  h2 {
    font-size: 16px;
  }
  .img {
    img {
      width: 25px;
    }
  }
  .bannerImg {
    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      object-fit: contain;
    }
  }
  .datatable {
    margin-top: 0;
    padding: 0px;
    box-shadow: var(--light-shadow);
    .datagrid {
      height: 400px;
    }
  }
}
.filters_plus {
  float: right;
  margin-bottom: 5px;
}
