.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.newarrivals h4 {
  font-weight: 400;
}
.newarrivals span {
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
}

.newarrivals .box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 555px) {
  .newarrivals {
    .box {
      .product {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
      }
    }
  }
}
