/* ALERT & LOADING */
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  font-weight: 700;
}
.alert-info {
  color: #2020ae;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px -2px;
}
#load-err {
  display: flex;
  justify-content: center;

  margin-top: 5px;
}

._loading_overlay_content {
  position: absolute;
  top: 30%;
  left: 47%;
}

/* ERROR 404 */
.page_not_found {
  width: 100%;
  min-height: 600px;
}
.page_not_found .found_text {
  text-align: center;
  margin-left: 10px;
}
.page_not_found .head_size {
  font-size: 130px;
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 700px) {
  ._loading_overlay_content {
    left: 45%;
  }
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 545px) {
  ._loading_overlay_content {
    left: 44%;
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 480px) {
  ._loading_overlay_content {
    left: 40%;
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 380px) {
  ._loading_overlay_content {
    left: 38%;
  }
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 480px) {
  .page_not_found .a_flex {
    flex-direction: column;
  }
}
