.home {
  margin-top: 20px;
  .slider_error {
    .flex_1 {
      flex: 1;
    }
    .flex_5 {
      flex: 5;
    }
  }
}
.slider_cate {
  overflow: hidden;
}
.slick-slide div {
  outline: none;
}
.category-filter {
  min-width: 230px;
  height: 465px;
  overflow-y: scroll;
  a {
    cursor: pointer;
    button {
      background: transparent;
      cursor: pointer;
      color: var(--color-dark);
    }
  }
}
.category-filter::-webkit-scrollbar {
  display: none;
}

.homeSlide {
  h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
  }
  p {
    margin: 20px 0;
  }
  ul {
    position: absolute;
    bottom: -60px;
  }
  ul li {
    border: 2px solid var(--color-light-gray);
    border-radius: 50%;
    padding: 10px;
  }
  ul li button {
    background: transparent !important;
    color: transparent !important;
    cursor: pointer;
  }
  ul li button::before {
    font-size: 15px !important;
    color: var(--color-text);
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
  }
  .box {
    display: flex !important;
    align-items: center;
  }
  .box .left {
    width: 90%;
  }
  .box .right {
    // width: 30%;
  }
  .box img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    // object-position: center;
  }
}

@media screen and (max-width: 875px) {
  .slider_cate {
    .slick-slider {
      padding-bottom: 10px;
      .d_flex {
        flex-direction: column-reverse;
      }
    }
  }
}
@media screen and (max-width: 745px) {
  .slider_cate {
    .slick-slider {
      .d_flex {
        flex-direction: column-reverse;
      }
    }
  }
  .homeSlide {
    .slick-slider {
      .d_flex {
        flex-direction: column-reverse;
      }
      .box .left {
        padding-right: 20px;
      }
      .box img {
        margin-top: -60px;
        position: relative;
        left: -20px;
      }
      .box .btn-primary {
        margin-bottom: 20px;
      }
    }
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 550px) {
  .slider_cate {
    .category-filter {
      margin-top: 20px;
    }
  }
  .home .contentWidth {
    width: 100%;
  }
  .homeSlide {
    width: 100%;

    .box {
      flex-direction: column-reverse;
      justify-content: center;
    }
    .box .left {
      width: 100%;
      padding-right: 0px;
    }
    .box .right {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .box img {
      position: relative;
      left: 0px;
      // width: 100%;
      // height: 100%;
    }
  }
  .category-filter {
    width: 100%;
  }
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 360px) {
  .homeSlide {
    display: none;
  }
}
