.subscribe_box {
  background-color: var(--color-white);
  span {
    width: 100%;
    display: flex;
    justify-content: center;
    .text_small {
      text-align: center;
      display: flex;
      justify-self: center;
    }
  }
  .container {
    width: 50%;

    .search-box {
      width: 100%;
      margin-right: 10px;
      position: relative;
      right: 0px;
      .email_box {
        margin-left: 5px;
        color: var(--color-gray);
      }
      .search_filter {
        background: transparent;
        margin-left: 8px;
      }
    }
    .btn {
      button {
        color: var(--color-white);
        background-color: var(--color-primary);
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 17px;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 745px) {
    .container {
      width: 100%;
    }
  }
}
