.subscribe_box {
  background-color: var(--color-white);
  span {
    width: 100%;
    display: flex;
    justify-content: center;
    .text_small {
      text-align: center;
      display: flex;
      justify-self: center;
    }
  }
  .container {
    width: 50%;
    .content {
      width: 100%;
      margin-right: 20px;
    }
    .error {
      color: var(--color-primary);
      font-size: 12px;
    }

    .search-box {
      width: 100%;
      margin-right: 0px;
      position: relative;
      right: 0px;
      .email_box {
        margin-left: 8px;
      }
      input {
        background: transparent;
        width: 90%;
      }
    }
    .search-box.input-error {
      border-color: var(--color-primary);
      width: 100%;
    }
    .email_box.input-error {
      color: var(--color-primary);
    }
    .btn {
      button {
        color: var(--color-white);
        background-color: var(--color-primary);
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 17px;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 745px) {
    .container {
      width: 100%;
    }
  }
  @media screen and (max-width: 320px) {
    .container {
      .subscribe_box_content {
        flex-direction: column;
        .btn {
          margin-top: 8px;
          width: 100%;
          button {
            width: 100%;
            padding: 6px 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
