.shop {
  .product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .product {
      max-height: 400px;
      overflow: hidden;
      .img {
        img {
          width: 100%;
          height: 270px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }

  .contentWidth {
    margin-left: 30px;
  }

  .grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .product img {
    width: 100%;
    height: 100%;
  }
  .product {
    transition: 0.5s;
  }
  .product:hover {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  }

  /*----- max -------*/
  @media screen and (max-width: 1175px) {
    .product-content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 885px) {
    .product-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 585px) {
    .product-content {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 320px) {
    .product-content {
      .product {
        width: 100%;
        margin-left: 0px;
      }
    }
  }
}
